<!-- Main HTML Page -->

<!-- Title Bar -->
<div class="title" id="title">
  <h1>
    <a href="https://github.com/Kevin063/CS411-Project-REDKK" target="_blank">
      <img
        id="logo"
        width="40"
        alt="RR Logo"
        src="/assets/favicon.ico">
    </a>

    Relativity Radio

    <button id="settings-button" routerLink="/settings">SETTINGS</button>
    <button id="pins-button" routerLink="/history">HISTORY</button>
    <button id="home-button" routerLink="/">CONTROL PANEL</button>

  </h1>

</div>

<hr>

<!-- Page Navigation (via Angular Router) -->
<router-outlet></router-outlet>

<!-- Footer Bar -->
<div class="footer" id="footer">
  <div class="container">
    <a href="https://github.com/Kevin063/CS411-Project-REDKK/issues">Submit Bug Report</a>
  </div>
</div>
