<!-- Main HTML Page -->

<!-- Title Bar -->
<div class="title">
  <h1>
    <a href="https://github.com/Kevin063/CS411-Project-REDKK" target="_blank">
      <img
        width="40"
        alt="RR Logo"
        src="/assets/favicon.ico">
    </a>

    Relativity Radio
  </h1>
</div>

<hr>

<!-- Page Navigation (via Angular Router) -->
<router-outlet></router-outlet>

<!-- Footer Bar -->
<div id="footer">
  <div class="container" id="innerfooter">
    <a href="https://github.com/Kevin063/CS411-Project-REDKK/issues">Submit Bug Report</a>
  </div>
</div>
