<!-- Main HTML Page -->

<div class="title">
  <h1>
    <a href="https://github.com/Kevin063/CS411-Project-REDKK" target="_blank">
      <img
        width="40"
        alt="Logo"
        src="favicon.ico">
    </a>

    Relativity Radio
  </h1>
</div>

<hr>

<!-- Eilsiz' Searchbar -->
<div class="container" role="searchbar" id="i1">
  <h2>Music Search:</h2>
  <form action="" class="parent">
    <label for="uri">Keywords: </label>
    <input type="text" class="search" placeholder="Process Man (Chemical Workers' Song) by Great Big Sea">
    <hr>
    <input type="submit" name="Search" value="Search Spotify" id="" class="btn">
  </form>
</div>

<br> <br> <hr> <!-- some space -->

<!-- Reid's Searchbar -->
<div class="container" role="SpotifyAPI" id="i2">
  <h2>URI Lookup:</h2>
  <form action="/action_page.php">
    <label for="uri">Spotify Track URI: </label>
    <input type="text" id="uri" name="uri" placeholder="spotify:track:3TGRqZ0a2l1LRblBkJoaDx" value=""><br>
    <hr>
    <input type="submit" value="Get Track Info">
  </form>
</div>

<br><br><br>

<div class="container">
  <app-geo-relativity></app-geo-relativity>
</div>

<br><br><br>

<router-outlet></router-outlet>

<div id="footer">
  <div class="container" id="innerfooter">
    <a href="https://github.com/Kevin063/CS411-Project-REDKK/issues">Submit Bug Report</a>
  </div>
</div>
